*{
    margin: 0%;
    padding: 0%;
}
.background {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}
.backgroundImgFirst {
    opacity: 0.5;
    width: 25%;
    height: 100vh;
    background-image: url(./../../Global/Images/firstBack.png);
    background-size: 100% 100%;
}
.backgroundImgSecond {
    position: absolute;
    opacity: 0.5;
    right: 0vw;
    width: 30%;
    height: 100vh;
    background-image: url(./../../Global/Images/secondBack.jpeg);
    background-size: 100% 100%;
}
.floatBox {
    position: relative;
    z-index: 1;
    /* background: linear-gradient(to bottom right, #f077ea, #9146f5, #7ae3f5, #69d9f5, #9146f5, #f330e9); */
    /* background: white; */
    background: linear-gradient(to right top,rgb(255, 3, 242),rgb(253, 66, 213), rgb(248, 157, 236), rgb(248, 157, 236),rgb(253, 66, 213),rgb(255, 3, 242));    top: 7vh;
    right: 11vw;
    height: 85vh;
    width: 70%;
    /* background-size: auto auto; */
    border-radius: 5vh;
    box-shadow: 1vh 1vw 2vh  #203a4e;
}
.sideImg {
    position: relative;
    margin-left: auto;
    margin-right: 10px;
    top: 8vh;
    width: 50%;
    height: 65vh;
    background-image: url(./../Images/Side3d.png);
    background-size: 100% 100%;
}
.logo {
    position: absolute;
    margin-top: -60vh;
    margin-left: 11vh;
    width: 30%;
    height: 30vh;
    background-image: url(./../Images/smilepay.gif);
    background-size: 100% 100%;
}
.login{
  position: absolute;
  top: 55%;
  left: 24%;
  transform: translate(-50%, -50%);
}

.link_login{
  position: relative;
}

.link_login a{
  display: block;
  width: 15vw;
  height: 8vh;
  line-height: 8vh;
  font-weight: bold;
  text-decoration: none;
  background:  #0f0f0f;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
  border: 0.1vh solid  #0f0f0f;
  transition: all .35s;
}

.iconl{
  width: 8vh;
  height: 8vh;
  border: 0.3vw solid transparent;
  position: absolute;
  transform: rotate(45deg);
  right: 0;
  top: 0;
  z-index: -1;
  transition: all .35s;
}

.iconl svg{
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  transform: rotate(-45deg);
  fill: #0f0f0f;
  transition: all .35s;
}

.link_login a:hover{
  width: 15vw;
  border: 0.3vw solid  #0f0f0f;
  background: transparent;
  color: #0f0f0f;
}

.link_login a:hover + .iconl{
  border: 0.3vw solid #0f0f0f;
  right: -25%;
}
  .signup{
    position: absolute;
    top: 78%;
    left: 24%;
    transform: translate(-50%, -50%);
  }
  
  .link_signup{
    position: relative;
  }
  
  .link_signup a{
    display: block;
    width: 15vw;
    height: 8vh;
    line-height: 8vh;
    font-weight: bold;
    text-decoration: none;
    background:  #0f0f0f;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1vw;
    border: 0.1vh solid  #0f0f0f;
    transition: all .35s;
  }
  
  .icons{
    width: 8vh;
    height: 8vh;
    border: 0.3vw solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
  }
  
  .icons svg{
    width: 30px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill:  #0f0f0f;
    transition: all .35s;
  }
  
  .link_signup a:hover{
    width: 15vw;
    border: 0.3vw solid #0f0f0f;
    background: transparent;
    color: #0f0f0f;
  }
  
  .link_signup a:hover + .icons{
    border: 0.3vw solid #0f0f0f;
    right: -25%;
  }

.line {
    position: relative;
    width: 30vw;
    border: solid;
    /* border-width: .3vh; */
    border-radius: 3vh;
    left: 5vh;
    top: -9vh;
    border-color: black;
}

.floatBox button {
    cursor: pointer;
    font-family: 'Sansita Swashed', cursive;
    font-size: 3vh;
    background: transparent;
    border: transparent;
    color: white;
}
