*{
    margin: 0%;
    padding: 0%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
::placeholder {
    color: white;
    opacity: 0.7;
}
.background {
    display: flex;
    flex-wrap: nowrap;
    background-color: black;
}
.backgroundImgFirst {
    opacity: 0.5;
    width: 25%;
    height: 100vh;
    background-image: url(./../../Global/Images/firstBack.png);
    background-size: 100% 100%;
}
.backgroundImgSecond {
    position: absolute;
    opacity: 0.5;
    right: 0vw;
    width: 30%;
    height: 100vh;
    background-image: url(./../../Global/Images/secondBack.jpeg);
    background-size: 100% 100%;
}
.floatBox {
    position: relative;
    z-index: 1;
    /* background: linear-gradient(to bottom right, #77c4f0, #9850f7, #b87fee, #f37de9, #bd81f5, #9141fa, #77c4f0); */
    /* background: linear-gradient(to bottom right,rgb(28, 43, 247),rgb(9, 134, 236),rgb(0, 195, 255),rgb(241, 87, 208),rgb(243, 62, 189),rgb(253, 13, 161)); */
    background: linear-gradient(to bottom right,rgb(21, 36, 248),rgb(11, 145, 255),rgb(0, 195, 255));
    top: 7vh;
    right: -5vw;
    height: 85vh;
    width: 35%;
    /* background-size: auto auto; */
    border-radius: 5vh;
    box-shadow: 1vh 1vw 2vh  #203a4e;
}
input[type=text] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=text]:focus {
    border-bottom: 3px solid black;
  }
  input[type=password] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=password]:focus {
    border-bottom: 3px solid black;
  }
  input[type=number] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=number]:focus {
    border-bottom: 3px solid black;
  }
  input[type=email] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=email]:focus {
    border-bottom: 3px solid black;
  }
  .back-button{
    position: absolute;
    top: 85%;
    left: 20%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; */
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; */
    align-items: center;
    overflow: hidden;
}
.back-button:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    /* background-color: rgb(75, 73, 73); */
    /* z-index: -1; */
}
.back-button:active {
    position: absolute;
    top: 70vh;
    left: 2vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  }
  a.back-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#d0f724,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.back-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#d0f724,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.back-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#d0f724,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.back-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#d0f724,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
}

.next-button{
    position: absolute;
    top: 85%;
    left: 80%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; */
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; */
    /* z-index: 3; */
    align-items: center;
    /* padding-left: 50px; */
    overflow: hidden;
}
.next-button:active {
    position: absolute;
    top: 70vh;
    left: 23vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  }
a.next-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#d0f724,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.next-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#d0f724,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.next-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#d0f724,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.next-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#d0f724,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
}
.back{
    position: absolute;
    top: 70vh;
    left: 4vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(6, 142, 233);
}
.back::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: rgb(6, 142, 233)    ;
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.back:hover:before{
    transform: scaleY(0);
}
.back::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: rgb(6, 142, 233);
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.back:hover:after{
    transform: scaleX(0);
}
.back span{
    position: relative;
    z-index: 3;
}


.next{
    position: absolute;
    top: 70vh;
    left: 22vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color:rgb(0, 195, 255);
}
.next::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background:rgb(0, 195, 255);
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.next:hover:before{
    transform: scaleY(0);
}
.next::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background:rgb(0, 195, 255) ;
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.next:hover:after{
    transform: scaleX(0);
}
.next span{
    position: relative;
    z-index: 3;
}

