@import url("./../../Global/CSS/global.css");

.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 13vw;
    top: 8vh;
    font-size: 5vh;
}
.signupForm {
    width: 65%;
    position: relative;
    top: 20vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;
}
.signupForm input{
    width: 100%;
    height: 50%;
    padding-top: 6vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    overflow: auto;
}
.signupForm label{
    position: absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.signupForm label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.2vh;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: transform 0.8s ease;
}
.content-name{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.signupForm input:focus + .label-name .content-name,
.signupForm input:valid + .label-name .content-name
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.signupForm input:focus +.label-name::after,
.signupForm input:valid + .label-name::after{
    transform: translateX(0%);
}
.password {
    width: 65%;
    position: relative;
    top: 22vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;
    
}
.password input{
    width: 100%;
    height: 50%;
    padding-top: 6vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    overflow: auto;
}

.password label{
    position: absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.password label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.2vh;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: transform 0.8s ease;
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.password input:focus + .label-password .content-password,
.password input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.password input:focus +.label-password::after,
.password input:valid + .label-password::after{
    transform: translateX(0%);
}
.forgetPassword {
    position: absolute;
    top:52vh;
    left: 5vw;
    color: black;
    cursor: pointer;
    font-size: 3vh;
}
.alert-box{
    position: relative;
    top: -32vh;
    left: -9vw;
    width: 150%;
    background-color: green;
    font-size: 22px;
    padding: 2vh;
    color: #ffffff;
}
