@import url("./../../Global/CSS/global.css");

.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 13vw;
    top: 8vh;
    font-size: 5vh;
}
.signupForm {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 30vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
}
.signupForm input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    border-bottom: 3px solid blue;   
}
.signupForm label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
}
.signupForm label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
}
.content-username{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.signupForm input:focus + .label-username .content-username,
.signupForm input:valid + .label-username .content-username
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;  
}
.password {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 45vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
}
.password input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    color: white;
    border-bottom: 3px solid blue;
}
.password label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 300%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.password label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.password input:focus + .label-password .content-password,
.password input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.forgetPassword {
    position: absolute;
    top:52vh;
    left: 5vw;
    color: black;
}
.back{
    position: absolute;
    top: 60vh;
    left: 4vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(6, 142, 233);
}
.back::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: rgb(6, 142, 233)    ;
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.back:hover:before{
    transform: scaleY(0);
}
.back::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: rgb(6, 142, 233);
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.back:hover:after{
    transform: scaleX(0);
}

.back span{
    position: relative;
    z-index: 3;
}