@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: relative;
    font-family: 'Sansita Swashed', cursive;
    left: 8vw;
    top: 4vh;
    font-size: 5vh;
}
.passwordp {
    width: 65%;
    position: relative;
    top: 13vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;
    
}
.passwordp input{
    width: 100%;
    height: 50%;
    padding-top: 6vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    overflow: auto;
}

.passwordp label{
    position: absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.passwordp label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.2vh;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: transform 0.8s ease;
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.passwordp input:focus + .label-password .content-password,
.passwordp input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.passwordp input:focus +.label-password::after,
.passwordp input:valid + .label-password::after{
    transform: translateX(0%);
}
.submit{
    position: absolute;
    top: 50vh;
    left: 20vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color:rgb(0, 195, 255);
}
.submit::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background:rgb(0, 195, 255);
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.submit:hover:before{
    transform: scaleY(0);
}
.submit::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background:rgb(0, 195, 255) ;
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.submit:hover:after{
    transform: scaleX(0);
}
.submit span{
    position: relative;
    z-index: 3;
}
.back{
    position: absolute;
    top: 70vh;
    left: 4vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(6, 142, 233);
}
.back::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background: rgb(6, 142, 233)    ;
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.back:hover:before{
    transform: scaleY(0);
}
.back::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background: rgb(6, 142, 233);
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.back:hover:after{
    transform: scaleX(0);
}
.back span{
    position: relative;
    z-index: 3;
}

