@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 7vw;
    top: 45vh;
    font-size: 5vh;
}
.paymentSuccessful {
    z-index: 1;
    position: absolute;
    width: 15vw;
    top: 18vh;
    left: 40vw;
}
.check-button {
    position: relative; 
    z-index: 1;
    border-radius: 4vh;
    background-color: rgb(77, 221, 99);;
    border: none;
    color: #0f0c0c;
    text-align: center;
    height: 5vh;
    font-size: 1vw;
    top: 72vh;
    left: -25vw;
    padding: 1vh;
    width: 10vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1vh;
    box-shadow: 1vh 1vw 2vh  #203a4e
  }
.check-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .check-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: -2vh;
    right: 4vw;
    transition: 0.5s;
  }
  .check-button:hover span {
    padding-right: 2vh;
  }
  .check-button:hover span:after {
    opacity: 1;
    right: 0;
  }
  #amount-text {
      display: inline;
  }
  #amount {
      z-index: 1;
      position: absolute;
      top: 74vh;
      left: 53vw;
      font-size: 3vh;
      /* font-size: 100px; */
  }
/* .current-button{
    position: absolute;
    top: 75%;
    left: 48%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; 
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    /* text-transform: uppercase; 
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; 
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.current-button:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    /* background-color: rgb(75, 73, 73); */
    /* z-index: -1; 
}
.current-button:active {
    position: absolute;
    top: 70vh;
    left: 2vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  }
  a.current-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#d0f724,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.current-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#d0f724,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.current-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#d0f724,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.current-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#d0f724,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
} */