@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 8vw;
    top: 2vh;
    font-size: 5vh;
}
.password {
    width: 65%;
    position: relative;
    top: 15vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;
    
}
.password input{
    width: 100%;
    height: 50%;
    padding-top: 6vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    overflow: auto;
}

.password label{
    position: absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.password label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.2vh;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: transform 0.8s ease;
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.password input:focus + .label-password .content-password,
.password input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.password input:focus +.label-password::after,
.password input:valid + .label-password::after{
    transform: translateX(0%);
}
.passwordc {
    width: 65%;
    position: relative;
    top: 20vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    overflow: hidden;
    
}
.passwordc input{
    width: 100%;
    height: 50%;
    padding-top: 6vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    overflow: auto;
}

.passwordc label{
    position: absolute;
    bottom: 0vh;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}
.passwordc label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.2vh;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid blue;
    transform: translateX(-100%);
    transition: transform 0.8s ease;
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.passwordc input:focus + .label-password .content-password,
.passwordc input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.passwordc input:focus +.label-password::after,
.passwordc input:valid + .label-password::after{
    transform: translateX(0%);
}
.submit{
    position: absolute;
    top: 62vh;
    left: 20vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color:rgb(0, 195, 255);
}
.submit::before{
    content: '';
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: calc(100% - 12px);
    background:rgb(0, 195, 255);
    transition: .5s ease-in-out;
    transform: scaleY(1);
}
.submit:hover:before{
    transform: scaleY(0);
}
.submit::after{
    content: '';
    position: absolute;
    top: -2px;
    left: 6px;
    height: calc(100% + 4px);
    width: calc(100% - 12px);
    background:rgb(0, 195, 255) ;
    transition: .5s ease-in-out;
    transform: scaleX(1);
}
.submit:hover:after{
    transform: scaleX(0);
}
.submit span{
    position: relative;
    z-index: 3;   
}
.back{
    position: absolute;
    top: 62vh;
    left: 4vw;
    display: inline-block;
    border: 2px solid black;
    text-decoration: none;
    padding: 15px 30px;
    text-transform: uppercase;
    color: #111;
    font-weight: 600;
    font-size: 20px;
    background-color: rgb(6, 142, 233);
}

.alert-box{
    position: relative;
    top: -32vh;
    left: -9vw;
    width: 150%;
    background-color: rgb(253, 2, 2);
    font-size: 22px;
    padding: 2vh;
    color: #ffffff;
}
.ion-checkmark-round{
    font-size: 250%;
    background-color: green;
    border:2px solid black;
    color: white;
}
#password-box{
    width: 20vw;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 2vh;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-20%,-50%);
    z-index: 9999;
    padding: 4vh;
    text-align: center;
    display: none;
}
#box h1{
    color: #333;
}
.close{
    font-size: 20px;
    color: white;
    padding: 1vh 1vh;
    cursor: pointer;
    background-color: #3498db;
    display: inline-block;
    border-radius: 0.3vh;
    text-decoration: none;
}
