@import url("./../../Global/CSS/global.css");
.thanku {
    position: absolute;
    width: 15vw;
    top: 30vh;
    left: 9vw;

}
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 4vw;
    top: 15vh;
    font-size: 5vh;
}
.home-button{
    position: absolute;
    top: 80%;
    left: 47%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; */
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; */
    align-items: center;
    overflow: hidden;
    z-index: 1;
}
.home-button:before{
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    /* background-color: rgb(75, 73, 73); */
    /* z-index: -1; */
}
.home-button:active {
    position: absolute;
    top: 77vh;
    left: 42vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  }
  a.home-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#d0f724,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.home-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#d0f724,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.home-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#d0f724,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.home-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#d0f724,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
}