@import url("./../../Global/CSS/global.css");
.thanku {
    position: absolute;
    width: 15vw;
    top: 35vh;
    left: 9vw;

}
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 5vw;
    top: 20vh;
    font-size: 5vh;
}