@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 8vw;
    top: 2vh;
    font-size: 5vh;
}
.number {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 25vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;  
}
.number input{
    width: 100%;
    height: 50%;
    color:white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    border-bottom: 3px solid blue;
}
.number label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
}
.number label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
}
.content-number{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.number input:focus + .label-number .content-number,
.number input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.number2 {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 40vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
}
.number2 input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    border-bottom: 3px solid blue;
}
.number2 label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
}
.number2 label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
}
.content-number{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.number2 input:focus + .label-number .content-number,
.number2 input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.number3 {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 55vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;   
}
.number3 input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    border-bottom: 3px solid blue;
}
.number3 label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
}
.number3 label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;   
}
.content-number{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.number3 input:focus + .label-number .content-number,
.number3 input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
  