@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 8vw;
    top: 2vh;
    font-size: 5vh;
}
.signupForm {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 20vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
}
.signupForm input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    border-bottom: 3px solid blue;
}
.signupForm label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
}
.signupForm label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%; 
}
.content-username{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.signupForm input:focus + .label-username .content-username,
.signupForm input:valid + .label-username .content-username
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.password {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 32vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;   
}
.password input{
    width: 100%;
    height: 50%;
    color: #595f6e;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    color: white;
    border-bottom: 3px solid blue;
}
.password label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 300%;
    pointer-events: none;
}
.password label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;   
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.password input:focus + .label-password .content-password,
.password input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.passwordc {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 44vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh; 
}
.passwordc input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    color: white;
    border-bottom: 3px solid blue;
}
.passwordc label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 300%;
    pointer-events: none;
}
.passwordc label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;   
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.passwordc input:focus + .label-password .content-password,
.passwordc input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.passwordp {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 56vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;  
}
.passwordp input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    color: white;
    border-bottom: 3px solid blue;
}
.passwordp label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 300%;
    pointer-events: none;
}
.passwordp label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;  
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.passwordp input:focus + .label-password .content-password,
.passwordp input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}