@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 8vw;
    top: 8vh;
    font-size: 5vh;
}

.signupForm {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 28vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
}
.signupForm input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
}



.signupForm label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.signupForm label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
    
}
.content-name{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.signupForm input:focus + .label-name .content-name,
.signupForm input:valid + .label-name .content-name
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.number {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 43vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    /* overflow: hidden; */
    
}
.number input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
}

.number label{
    position: absolute;
    bottom: -.1vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.number label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
    /* transform: translateX(-100%);
    transition: transform 1s ease; */
    
    
}
.content-number{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.number input:focus + .label-number .content-number,
.number input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
/* .number input:focus +.label-number::after,
.number input:valid + .label-number::after{
    transform: translateX(0%);
} */
.email {
    /* display: flex; */
    width: 50%;
    position: relative;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 58vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
}
.email input{
    width: 100%;
    height: 100%;
    color: white;
    padding-top: 0.4vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
}

.email label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.email label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
    
}
.content-email{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.email input:focus + .label-email .content-email,
.email input:valid + .label-email .content-email
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
 .email input:focus +.label-number::after,
.email input:valid + .label-number::after{
    transform: translateX(0%);
} 

input[type=text] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=text]:focus {
    border-bottom: 3px solid black;
  }
  input[type=number] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=number]:focus {
    border-bottom: 3px solid black;
  }
  input[type=email] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=email]:focus {
    border-bottom: 3px solid black;
  }
 