@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 8vw;
    top: 8vh;
    font-size: 5vh;
}

.signupForm {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 28vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
}
.signupForm input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
}



.signupForm label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.signupForm label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
    
}
.content-name{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.signupForm input:focus + .label-name .content-name,
.signupForm input:valid + .label-name .content-name
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.number {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 43vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
}
.number input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
}

.number label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.number label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
    
}
.content-number{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.number input:focus + .label-number .content-number,
.number input:valid + .label-number .content-number
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.email {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 58vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
}
.email input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
}

.email label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.email label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
    
}
.content-email{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.email input:focus + .label-email .content-email,
.email input:valid + .label-email .content-email
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
input[type=text] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=text]:focus {
    border-bottom: 3px solid black;
  }
  input[type=number] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=number]:focus {
    border-bottom: 3px solid black;
  }
  input[type=email] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=email]:focus {
    border-bottom: 3px solid black;
  }
.back-button{
    position: absolute;
    top: 85%;
    left: 20%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; */
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; */
    /* z-index: 3; */
    align-items: center;
    /* padding-left: 50px; */
    overflow: hidden;
}

a.back-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#d0f724,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.back-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#d0f724,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.back-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#d0f724,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.back-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#d0f724,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
}
.back-button:active {
    position: absolute;
    top: 68.5vh;
    left: 2vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  }



/* NEXT BUTTON */
.next-button{
    position: absolute;
    top: 85%;
    left: 80%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; */
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; */
    /* z-index: 3; */
    align-items: center;
    /* padding-left: 50px; */
    overflow: hidden;
}
a.next-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#d0f724,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.next-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#d0f724,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.next-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#d0f724,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.next-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#d0f724,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
}
.next-button:active {
    position: absolute;
    top: 68.5vh;
    left: 23vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  } 