@import url("./../../Global/CSS/global.css");
.signupHeading {
    display: flex;
    position: absolute;
    font-family: 'Sansita Swashed', cursive;
    left: 8vw;
    top: 2vh;
    font-size: 5vh;
}

.signupForm {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 20vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
}
.signupForm input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
}
.signupForm label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 280%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.signupForm label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
    
}
.content-username{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.signupForm input:focus + .label-username .content-username,
.signupForm input:valid + .label-username .content-username
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}

.password {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 32vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
    
}
.password input{
    width: 100%;
    height: 50%;
    color: #595f6e;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    color: white;
}
.password label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 300%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.password label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
  /* box-shadow: 1vw 0vh  #203a4e; */
    
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.password input:focus + .label-password .content-password,
.password input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
.passwordc {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 44vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
    
}
.passwordc input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    color: white;
}
.passwordc label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 300%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.passwordc label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
  /* box-shadow: 1vw 0vh  #203a4e; */
    
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.passwordc input:focus + .label-password .content-password,
.passwordc input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}

.passwordp {
    display: flex;
    position: absolute;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    top: 56vh;
    height: -1vh;
    left: 5vw;
    font-size: 3vh;
    
    
}
.passwordp input{
    width: 100%;
    height: 50%;
    color: white;
    padding-top: 1.8vh;
    border: none;
    outline: none;
    background: none;
    font-size: 4vh;
    color: white;
}
.passwordp label{
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    width: 100%;
    height: 300%;
    pointer-events: none;
    /* border-bottom: 1px solid black; */
}
.passwordp label::after
{
    content: "";
    position: absolute;
    left: 0vw;
    bottom: -0.1vh;
    height: 100%;
    width: 100%;
    /* border-bottom: 3px solid blue; */
  /* box-shadow: 1vw 0vh  #203a4e; */
    
}
.content-password{
    position: absolute;
    bottom: 1vh;
    left: 0vw;
    transition: all 0.3s ease;
}
.passwordp input:focus + .label-password .content-password,
.passwordp input:valid + .label-password .content-password
{
    transform: translateY(-100%);
    font-size: 4vh;
    color: black;
}
input[type=text] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=text]:focus {
    border-bottom: 3px solid black;
  }

input[type=password] {

    border-bottom: 3px solid blue;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
input[type=password]:focus {
    border-bottom: 3px solid black;
  }
.back-button{
    position: absolute;
    top: 85%;
    left: 20%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; */
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 10px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; */
    /* z-index: 3; */
    align-items: center;
    /* padding-left: 50px; */
    overflow: hidden;
}

a.back-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#f72424,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.back-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#f72424,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.back-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#f72424,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.back-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#f72424,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
}
.back-button:active {
    position: absolute;
    top: 68.5vh;
    left: 2vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  }



/* NEXT BUTTON */
.next-button{
    position: absolute;
    top: 85%;
    left: 80%;
    transform:translate(-50%,-50%);
    /* color: #f0f3f7; */
    color: #6f07f8f3; 
    font-size: 30px;
    padding: 5px 20px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 10px 20px 10px rgba(0,0,0,.5);
    background:rgb(20, 20, 20) ;
    /* border:black; */
    /* z-index: 3; */
    align-items: center;
    /* padding-left: 50px; */
    overflow: hidden;
}
a.next-button span:nth-child(1){
    position: absolute;
    top:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to right,#f72424,#ff17d8);
    animation: animate1 2s linear infinite ;
}
@keyframes animate1{
    0%{
        tranform:translateX(-100%);
    }
    100%{
        transform: translateX(100%)
    }
}
a.next-button span:nth-child(2){
    position: absolute;
    top:0;
    right: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to bottom,#f72424,#ff17d8);
    animation: animate2 2s linear infinite ;
    animation-delay:1s ;
}
@keyframes animate2{
    0%{
        tranform:translateY(-100%);
    }
    100%{
        transform: translateY(100%)
    }
}
a.next-button span:nth-child(3){
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 2px;
    background:linear-gradient(to left,#f72424,#ff17d8);
    animation: animate3 2s linear infinite ;
}
@keyframes animate3{
    0%{
        tranform:translateX(100%);
    }
    100%{
        transform: translateX(-100%)
    }
}
a.next-button span:nth-child(4){
    position: absolute;
    top:0;
    left: 0;
    width:2px;
    height: 100%;
    background:linear-gradient(to top,#f72424,#ff17d8);
    animation: animate4 2s linear infinite ;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        tranform:translateY(100%);
    }
    100%{
        transform: translateY(-100%)
    }
}
.next-button:active {
    position: absolute;
    top: 68.5vh;
    left: 23vw;
    background-color: #a39d9d;
    box-shadow: 0 5px #666;
    transform: translateX(2px);
  } 
.nextButton {
    position: absolute;
    padding: 1vh 2vw;
    bottom:8vh;
    right: 4vw;
    font-size: 3vh;
    background-color: rgb(77, 221, 99);
    border-style: border-box;
    color: black;
    border: none;
    border: 0.2vw solid;
    border-radius: 30px;
    box-shadow: 1vh 1vw 2vh  #203a4e;
}
.nextButton:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.backButton {
    position: absolute;
    padding: 2vh 2vw;
    left: 4vw;
    bottom:9vh;
    font-size: 3vh;
    background-color: rgb(214, 18, 18);
    border-style: border-box;
    color: black;
    border: none;
    border: 0.2vw solid;
    border-radius: 30px;
    box-shadow: 1vh 1vw 2vh  #203a4e;
}
.backButton:active {
    background-color: #e42e2e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }